* {     
    margin: 0;      
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;    
}

header {
    background-color: #004861;         
    width: 100%;
}

#menuButton {
    content: url("/assets/media/menu-icon.png");
    width: auto;
}

#logo-azul {
    content: url("/assets/media/logo 382x48.png");
}

.clearfix {
    clear: both;
}

.menu {
    float: left;
    width: 30%;
    padding: 3%;
}

.logo {
    float: left;
    width: 30%;
    padding: 2%;
}

.row {
    padding: 0 3% 3%;
}

.container {
    display: inline-block;
    position: relative;
}

h2 {
    color: #004861;
    width: auto;
}

h4 {
    width: auto;
}

p, strong {
    width: auto;    
}

.secao-titulo {
    color: #004861;
    text-align: left;
    padding-left: 4%;
    padding-top: 2%;
}

.secao-footer {    
    color: #004861;
    font-weight: bold;
    text-align: right;
    margin-bottom: 2%;
    border-top: 1pt solid #bebebe;
    border-bottom: 1pt solid #bebebe;
    padding: .5%;
}

.destaque-principal {
    width: 45%;
    margin: 1%;
}

.destaque-principal .news-image {
    display: block;
    height: 100%;
}

.destaque-principal .news-image img {
    width: 100%;
}

.destaque-principal .news {
    display: block;   
    background: linear-gradient(transparent, black, black); 
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5% 0;
}

.destaque-principal .news h3 {
    font-size: .8em;
    font-weight: bold; 
    padding: 2% 10% 0 5%;    
}

.destaque-principal .news h4 {
    font-size: 2em;
    font-weight: bold; 
    padding: 2% 10% 0 5%;
}

.destaque-principal .news p {
    padding: 2% 10% 0 5%;
    font-size: 1.3em;
}

.destaque-principal .share {
    width: auto;
    position: absolute;
    top: 3%;
    left: 95%;
    content: url("/assets/media/white-share.png")
}

.destaque-dois {
    width: 45%;
    margin: 0 1%;
}

.destaque-dois .news-image {
    display: inline-block;
    width: 40%;    
    padding-right: 3%;
}

.news-image img {
    width: 100%;
}

.destaque-dois .news {
    display: inline-block;
    width: 50%;   
    vertical-align: top; 
}

.destaque-dois .news h3 {
    font-size: .8em;
    font-weight: bold; 
    color: #004861;
    padding: 10pt 0 5pt 0;
}

.destaque-dois .news h4 {
    font-size: 1.6em;
    font-weight: bold;    
    padding: 0 0 5pt 0;
}

.destaque-dois .news p {
    font-size: 1.27em;
    padding: 0 0 5pt 0;    
}

.destaque-dois .share {
    width: auto;
    position: relative;
    top: -20pt;
    left: 110%;
    content: url("/assets/media/black-share.png");    
}

.destaque-tres {
    width: 21.5%;
    margin: 0 1%;
}

.destaque-tres .news-image {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    color: #004861;
}

.destaque-tres .news {
    display: inline-block;
    padding-bottom: 10%;
}

.destaque-tres .news h3 {
    font-size: .8em;
    font-weight: bold; 
    color: #004861;
    padding: 10pt 0 5pt 0;
}

.destaque-tres .news h4 {
    font-size: 1.5em;
    font-weight: bold;    
    padding: 0 0 5pt 0;
}

.destaque-tres .news p {    
    display: block;    
}

.destaque-tres .share {
    width: auto;
    position: absolute;
    top: 100%;
    left: 0;
    content: url("/assets/media/black-share.png");    
}

.ads {
    background-color: #eee;    
    padding: 1%;
}

.ads::after {    
    content: url("/assets/media/ads 728X90.png");
    padding-left: 30%;
}

footer {
    background-color: #d5e11f;            
    height: auto;
    padding: 1%;
}

#logo-amarela {
    content: url("/assets/media/logo-footer.png");    
}

#copyright {
    font: 10pt Arial, sans-serif;
    color: #000;
    float: right;
    text-align: right;
}
